.woocs_diplay_none{
	display: none;
}

/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;

	.#{$theme_prefix}-header-cart-view{
		width: 2rem;
	}

	.widget_shopping_cart{

	}

	.cart-contents {
		text-decoration: none;

		&:before{
			font-family: "#{$theme_prefix}-icons";
			content: '\e83d';

			@include font-size(1.5);
			font-weight: 600;

			display: inline-block;
			color: #000;
		}

	}


	.product_list_widget{

		li{
			position: relative;

			a{
				text-decoration: none;
				line-height: 1.3em;
				font-weight: 500;

				span{
					display: inline;
				}


			}

			.quantity{
				display: inline;
				line-height: 1.2em;
			}

			.attachment-woocommerce_thumbnail{
				max-width: 70px;
				display: block;
				float: left;
				vertical-align: top;
				margin-right: 15px;
				border: 1px solid $color__border-input;

			}

			.remove{
				position: absolute;
				top: 1px;
				left: 60px;
				width: 18px;
				height: 18px;



				background-color: #fff;
				border-radius: 50%;

				text-decoration: none;

				color: $color__accent;

				text-align: center;
				line-height: 21px;
				font-size: 19px;

				@include anim(background-color, color);

				&:hover{
					color: #fff;
					background-color: $color__accent;
				}

			}

			.variation{
				display:block;
				margin: 0 1em 0 0;
				@include font-size(0.824);
				dt{
					display: inline;
					margin-right: 4px;
				}
				dd{
					display: inline;
					opacity: 0.6;
					font-style: italic;
					margin: 0;
					p{
						margin: 0;
						display: inline;
					}
				}

			}
		}
	}

	.widget_shopping_cart{
		margin-bottom: 0;
	}

	.widget_shopping_cart_content{

		.cart_list{
			max-height: calc( 100vh - 26rem );
			overflow-y: auto;
			overflow-x: hidden;
		}

		.total{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			strong{
				font-weight: normal;
				color: inherit;
			}

			.amount{
				color:#000;
				font-weight: 600;
			}

		}

		.buttons{

			margin-bottom: 0;

			a{
				display: block;
				width: 100%;
				@include font-size(0.824);
				text-transform: uppercase;
				padding: 0.533rem 1rem 0.400rem;
				border-radius: 3rem;
				font-weight: 600;
				letter-spacing: 0.7px;


				margin-bottom: 0.625rem;
				text-decoration: none;
				text-align: center;
				color: $color__text-button;
				@include anim(background-color);

				&.wc-forward{
					background-color: #000;
				}

				&.checkout{
					background-color: $color__background-button;
					margin-bottom: 0;
				}

				&:hover,
				&:focus{
					background-color: $color__accent;
				}

			}
		}

	}

	.cart-toggler{
		position: relative;


		.cart-contents{

			.count{
				width: 19px;
				height: 19px;
				border-radius: 50%;

				position: absolute;
				top: -4px;
				right: 0;

				font-weight: bold;
				font-size: 12px;
				text-align: center;
				line-height: 20px;

                vertical-align: middle;
				box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
				color: #fff;

				background-color: $color__accent;

			}

			.amount{
				border: 0;
				clip: rect(1px, 1px, 1px, 1px);
				clip-path: inset(50%);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute !important;
				width: 1px;
				word-wrap: normal !important;
			}

		}

	}

	.site-header-cart-contents {
		padding: 1.5rem;
		min-width: 280px;
		max-width: 90%;

		position: absolute;
		top: 100%;
		right: 0;
		z-index: -99;
		visibility: hidden;
		opacity: 0;
		background-color: #fff;
		box-shadow: -2px 2px 25px -8px rgba(0, 0, 0, 0.25);
		transform: translateY(10%);

		transition: visibility 0.5s step-end, z-index 0.5s step-end, opacity 0.5s ease, transform 0.5s ease;

		&:empty{
			display: none;
		}

		.widgettitle{
			font-family: inherit !important;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 18px !important;
			margin-top: 0 !important;
			letter-spacing: 1px;
		}

		@at-root{
			.woocommerce-cart{
				.site-header-cart-contents{
					display: none;
				}
			}
		}

	}

	&:hover{
		.site-header-cart-contents{
			z-index: 3;
			opacity: 1;
			visibility: visible;
			transform: translateY(0%);
			transition: visibility 0.3s step-start, z-index 0.5s step-start, opacity 0.5s ease, transform 0.5s ease;
		}
	}

}



.#{$theme_prefix}-call-back-button-view,
.#{$theme_prefix}-shop-address-view{
}

.elementor-widget.white{
	.site-header-cart{
		.cart-contents{
			&:before{
				color: #fff;
			}
		}
	}
}

.post-header-widget.widget_wishlist_products_counter,
.pre-header-widget.widget_wishlist_products_counter,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist{

	a.wishlist_products_counter.top_wishlist-heart:before{
		display: none;
	}

	.wishlist_products_counter_text{
		font-size: 0;
		&:before{
			font-family: "#{$theme_prefix}-icons";
			content: '\e83c';

			@include font-size(1.5);
			font-weight: 600;

			display: inline-block;
			color: #000;
		}

	}

	&.white{
		.wishlist_products_counter_text{
			&:before{
				color: #fff;
			}
		}
	}

	.wishlist_products_counter{
		width: 2rem;
		position: relative;

		.wishlist_products_counter_number{
			width: 19px;
			height: 19px;
			border-radius: 50%;
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
			position: absolute;
			top: -14px;
			right: -9px;

			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			text-align: center;

            vertical-align: middle;
			color: #fff;


			background-color: $color__accent;
		}

	}

}



/**
 * WooCommerce Price Filter
 */
.widget_price_filter {
	.price_slider {
		margin-bottom: 1.5em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
			padding: 0.667rem 1.667rem 0.6rem;
			background-color: $color__background-button-hover;
			&:hover{
				background-color: $color__accent;
			}
		}

		.price_label{
			@include font-size(0.867);
			color: $color__text-input;
		}

	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 20px;
		height: 20px;
		cursor: ew-resize;
		outline: none;
		background: #fff;
		border-radius: 50%;
		border: 1px solid $color__border-input;
		box-sizing: border-box;
		margin-top: -8px;
		opacity: 1;

		&:last-child {
			margin-left: -1em;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .25em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $color__accent;
		border-radius: 4px;
	}

	.price_slider_wrapper .ui-widget-content {
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: 4px;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
}

//----------- THEME STYLE START ---------
.widget_product_categories{

	.dropdown_product_cat{
		width: 100%;
	}

	.product-categories{
		padding-left: 0;

		li{
			position: relative;
			list-style: none;
			font-weight: 500;

			> .sub-menu,
			> .children{
				max-height: 0;
				overflow: hidden;
				box-sizing: content-box;
				position: relative;
				padding-left: 1rem;
				@include anim(max-height);

				li{
					font-weight: 400;
					font-size: 14px;
					a{
						font-size: inherit;
						font-weight: inherit;
					}
				}

			}

			a:hover{
				color: $color__accent_text;
			}


			.count{
				@include font-size(0.824);
				opacity: 0.6;
			}

		}
	}
}

.widget_product_search,
.elementor-widget-wp-widget-woocommerce_product_search{

	@include limit-smedium{
		width: calc(100% - 60px);
	}

	.woocommerce-product-search{


	}

	.search-field{
		width: 79.5%;
		transform: translateY(-3px);


		@include large{
			max-width: 100%;
			width: 210px;
		}
	}

	button{
		font-size: 0;
		border:none;
		color: inherit;
		max-width: 18%;
		width: 3.000rem;
		height: 2.800rem;
		text-align: right;
		background-color: transparent;
		padding: 0 !important;

		&:after{

			@include font-size(1.5);
			font-weight: 600;

			font-family: "#{$theme_prefix}-icons";
			content: '\e83b';
			display: inline-block;

		}

		&:hover{
			background-color: transparent;
			color: inherit;
		}
	}
}

.widget-area{

	&.sidebar-shop-area{
		.widget{
			.widget-title{
				font-family: inherit !important;
				font-weight: normal !important;;
				text-transform: uppercase !important;;
				letter-spacing: 1px !important;;
				font-size: 18px !important;
			}
		}
	}

	.widget{

		&.woocommerce{
			.woocommerce-widget-layered-nav-list{
				margin-bottom: 0 !important;
			}

			ul{
				margin-bottom: 0 !important;
			}
		}

		&.widget_product_search{
			.search-field{
				background-color: $color__secondary_deco;
				border-color: $color__secondary_deco;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			button{
				background-color: $color__secondary_deco;
				border-color: $color__secondary_deco;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				padding: 0.45em 0.6em 0.45em 0;
				font-size: 0;
				text-indent: -99999em;
				margin-left: -8px;
				color: $color__text-input;
				text-align: center;
				height: 42px;
				transform: translateY(-1px);

				&:after{
					font-size: 20px;
				}

			}
		}

	}
}

.widget-area,
.elementor-widget-container{
	.product_list_widget{
		li{
			a{
				.product-title{
					font-weight: 500;
					line-height: 1.3;
				}
			}
		}
	}
}

.#{$theme_prefix}-post-header-widget-area,
.#{$theme_prefix}-pre-header-widget-area
{
	.widget_product_search,
	.elementor-widget-wp-widget-woocommerce_product_search{

		input{
			margin: 0;
		}

		button{
			color: #000;
		}
	}
}


.widget_layered_nav_filters{

	ul{
		list-style: none;
		padding-left: 2rem;
	}

	.chosen{

		@include font-size(0.824);
		text-transform: uppercase;
		font-weight: bolder;
		position: relative;

		&:before{
			font-family: #{$theme_prefix}-icons;
			content: '\e832';
			display: inline-block;
			text-align: center;

			position: absolute;
			left: -2rem;

		}

	}
}

.widget{
	&.widget_layered_nav_filters{
		ul{
			padding-left: 2rem;
		}
	}
}

.woocommerce-widget-layered-nav{
	ul{
		padding-left: 0;

		li{
			@include bullet;
			font-weight: 500;

			.count{
				@include font-size(0.8);
				opacity: 0.6;
				display: block;
				float: right;
				color: $color__text-input;
			}

			&:after{
				content: '';
				display: block;
				clear: both;
			}

		}

	}
}

.widget_rating_filter{

	ul{
		padding-left: 0;
	}

	.wc-layered-nav-rating{

		list-style: none;

		a{
			display: inline-block !important;
			line-height: 1.5rem;
			width: 100%;
			text-align: right;
			@include font-size(0.800);
			color: $color__text-input;

			span{
				display: block;
				float: left;
			}

			.star-rating{
				display: inline-block;
			}

			&:after{
				display: none;
				clear: both;
			}

		}
	}
}


.product_list_widget{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0 !important;

	li{
		padding: 0.5rem 0;
		.attachment-woocommerce_thumbnail{
			max-width: 70px;
			display: inline-block;
			float: left;
			vertical-align: top;
			margin-right: 15px;
		}

		.woocs_price_code{

			display: block;
			margin: 0.5rem 0;

			ins{
				background-color: transparent;
				color: #d7422d;
				font-weight: 600;
			}

			del{
				color: #888686;
				font-weight: 400;
			}


		}

		a{

			text-decoration: none;

			.product-title{
				display: block;
			}

			&:after{
				display: none;
			}
		}

		&:after{
			content: '';
			display: block;
			clear: both;
		}

		.reviewer{
			@include font-size(0.882);
		}

		ins{
			background-color: transparent;
		}

		del{
			font-size: 0.882em;
		}

		.star-rating{
			margin: 0.25rem 0 0.4rem;
		}

	}

}

.widget_product_tag_cloud{
	.tagcloud{
		a{
			display: inline-block;
			margin: 0 0.5em 0.5em 0;
			padding: 0.18em 0.706rem 0.145em;
			border-radius: 2em;

			background-color: #000;
			color: #fff;

			font-size: 0.733rem !important;
			text-transform: uppercase;

			@include anim(background-color, color, border-color);

			&:hover{
				background-color: $color__accent;
				border-color: $color__accent;
				color: #fff;
			}

		}
	}
}

//----------- THEME STYLE END -----------