/*
Theme Name: dici

WooCommerce styles override
*/


/**
 * WooCommerce color variables
 */


/**
 * Imports
 */


/*#e1e1e1*/


/* Ensure all font family declarations come with non-latin fallbacks */


/* Build our non-latin font styles */


/**
 * Shop tables
 */


/**
 * Shop tables
 */

table.shop_table_responsive thead {
    display: none;
}

table.shop_table_responsive th,
table.shop_table_responsive td {
    border-width: 0;
}

table.shop_table_responsive tbody th {
    display: none;
}

table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
}

table.shop_table_responsive tr td:not(.product-thumbnail):not(.product-remove):before {
    content: attr(data-title) ": ";
    float: left;
}

table.shop_table_responsive tr td.product-remove a {
    text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
    display: none;
}

table.shop_table_responsive tr td.actions:before,
table.shop_table_responsive tr td.download-actions:before {
    display: none;
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center;
}

@media screen and (min-width: 48em) {
    table.shop_table_responsive thead {
        display: table-header-group;
        background-color: #f8f9fa;
        color: #939393;
    }
    table.shop_table_responsive tbody th {
        display: table-cell;
    }
    table.shop_table_responsive tr th,
    table.shop_table_responsive tr td {
        text-align: left;
    }
    table.shop_table_responsive tr td {
        display: table-cell;
    }
    table.shop_table_responsive tr td:before {
        display: none;
    }
}

.shop_table {
    width: 100% !important;
}

.shop_table thead {
    background-color: #f8f9fa;
    color: #939393;
}

.shop_table thead th,
.shop_table thead td {
    border-width: 0;
}

.shop_table tfoot th {
    text-align: left;
}

.shop_table tfoot th,
.shop_table tfoot td {
    border-width: 0;
}

.shop_table tfoot th .woocommerce-Price-amount,
.shop_table tfoot td .woocommerce-Price-amount {
    font-weight: 500;
}

.shop_table th,
.shop_table td {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

.shop_table.cart {
    width: 100% !important;
}

.shop_table th {
    font-size: 13.995px;
    font-weight: 500;
    text-transform: uppercase;
}

.shop_table td,
.shop_table th {
    padding: 1em;
}

.shop_table tbody tr td,
.shop_table tbody tr th {
    border-top: 1px solid;
    border-color: #e1e1e1;
}

.shop_table tbody tr:first-of-type td {
    border-top-width: 0px;
}

.shop_table .product-remove {
    max-width: 20px;
}

.shop_table .product-remove a {
    text-decoration: none;
    font-size: 0px;
    color: #ac0005;
}

.shop_table .product-remove a:after {
    font-size: 15px;
    font-family: "dici-icons";
    content: '\e849';
    display: inline-block;
}

.shop_table .product-thumbnail {
    line-height: 0;
}

.shop_table .product-thumbnail img {
    min-width: 86px;
    max-width: 100px;
}

.shop_table .product-thumbnail a {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
}

.shop_table .product-name {
    text-align: left !important;
}

.shop_table .product-name a {
    text-decoration: none;
}

.shop_table .product-name .variation {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12.36px;
}

.shop_table .product-name .variation dt,
.shop_table .product-name .variation dd {
    display: inline-block;
    margin: 0;
    color: #7e7e7e;
}

.shop_table .product-name .variation dt p,
.shop_table .product-name .variation dd p {
    margin: 0;
}

.shop_table .product-name .variation dd {
    color: #7e7e7e;
    margin-right: 4px;
}

.shop_table td.product-name {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .shop_table .product-price,
    .shop_table .product-quantity,
    .shop_table .product-subtotal {
        text-align: center;
    }
}

.shop_table td.product-subtotal {
    font-weight: 600;
}

.shop_table .product-quantity input {
    display: inline-block;
    max-width: 100px;
    width: 80px;
    padding-right: 0;
    text-align: center;
}

.shop_table .actions {
    padding-left: 0;
    padding-right: 0;
    text-align: left !important;
}

.shop_table .actions>button {
    float: right;
    margin-top: 40px;
}

.shop_table .button {
    /*border: 2px solid;
    border-color: $color__border-button;*/
    border: none;
    border-radius: 3rem;
    background: #ac0005;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding: 10px 22px 8px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color 400ms ease-in, background-color 400ms ease-in, border-color 400ms ease-in;
    display: inline-block;
}

.shop_table .button:hover {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.shop_table .button:active,
.shop_table .button:focus {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.shop_table .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.shop_table .button:hover {
    background-color: #ac0005;
}

.shop_table .coupon {
    display: inline-block;
    text-align: left;
    padding-top: 32px;
}

@media screen and (max-width: 767px) {
    .shop_table .coupon {
        width: 100%;
    }
}

.shop_table .coupon label {
    display: none;
}

.shop_table .coupon .input-text {
    max-width: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .shop_table .coupon .input-text {
        width: 20rem;
        margin-right: 1em;
    }
}

@media screen and (max-width: 767px) {
    .shop_table .coupon .button {
        margin-top: 1em;
    }
}

.shop_table.woocommerce-checkout-review-order-table {
    width: 100%;
}

.shop_table.woocommerce-checkout-review-order-table thead th {
    border-width: 0;
}

.shop_table.woocommerce-checkout-review-order-table td {
    border-left-width: 0;
    border-right-width: 0;
}

.shop_table.woocommerce-checkout-review-order-table thead {
    background-color: #f8f9fa;
    color: #939393;
}

.shop_table.woocommerce-checkout-review-order-table .product-total,
.shop_table.woocommerce-checkout-review-order-table .cart-subtotal td,
.shop_table.woocommerce-checkout-review-order-table .shipping td,
.shop_table.woocommerce-checkout-review-order-table .order-total td {
    text-align: right;
}

.shop_table.woocommerce-checkout-review-order-table .cart-subtotal .woocommerce-Price-amount {
    font-weight: 500;
}

.shop_table.woocommerce-checkout-review-order-table .order-total .amount {
    font-size: 22.005px;
    color: #109d92;
}

.shop_table.woocommerce-checkout-review-order-table tfoot th {
    text-align: left;
}

.shop_table.woocommerce-checkout-review-order-table tfoot td {
    text-align: right;
}

.shop_table.woocommerce-checkout-review-order-table tfoot th,
.shop_table.woocommerce-checkout-review-order-table tfoot td {
    border-width: 0;
}

.shop_table.woocommerce-checkout-review-order-table .woocommerce-shipping-totals ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}

.cart_totals .order-total th,
.cart_totals .order-total td {
    border-bottom: none !important;
}

@media screen and (max-width: 767px) {
    .woocommerce-checkout-review-order-table {
        display: table !important;
    }
    .shop_table_responsive.cart {
        overflow: visible;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        border-top: 1px solid #e1e1e1;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item td {
        padding-left: 0;
        padding-right: 0;
        border-width: 0;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-remove,
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-thumbnail,
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-name {
        margin-top: 15px;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-remove {
        order: 3;
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-remove a {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        display: block;
        z-index: 2;
        position: absolute;
        right: -10px;
        top: 0;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-name {
        order: 1;
        width: calc(100% - 110px);
        vertical-align: middle;
        align-self: center;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-name:before {
        content: '';
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-thumbnail {
        order: 2;
        width: 110px;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-price {
        order: 4;
        flex: 1 0 100%;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-quantity {
        order: 4;
        flex: 1 0 100%;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-quantity .quantity {
        display: inline-block;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-quantity:before {
        display: block;
        margin: 13px 0;
    }
    .shop_table_responsive.cart .woocommerce-cart-form__cart-item .product-subtotal {
        order: 4;
        flex: 1 0 100%;
    }
}


/**
 * Products
 */


/**
 * Products
 */

div[class^="columns-"] {
    clear: both;
}

.post-type-archive-product div[class^="columns-"] {
    padding-top: 2rem;
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
}


/* Using CSS GRID */

ul.products {
    content: "";
    display: table;
    table-layout: fixed;
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

@media screen and (min-width: 640px) {
    ul.products.columns-2 {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-2 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-3 {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-3 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-4 {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-4 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-5 {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-5 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-6 {
        grid-template-columns: repeat(5, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-6 .special {
        grid-column: auto / span 2;
    }
}

@media screen and (min-width: 768px) {
    ul.products.columns-2 {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-2 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-3 {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-3 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-4 {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-4 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-5 {
        grid-template-columns: repeat(5, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-5 .special {
        grid-column: auto / span 2;
    }
    ul.products.columns-6 {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
        grid-auto-rows: auto;
    }
    ul.products.columns-6 .special {
        grid-column: auto / span 2;
    }
}

.woocommerce-products-header:empty {
    display: none;
}

.woocommerce-result-count {
    float: left;
    color: #696969;
    margin: 1px 0 20px;
}

@media screen and (max-width: 767px) {
    .woocommerce-result-count {
        float: none;
        text-align: center;
    }
}

.woocommerce-ordering {
    float: right;
}

@media screen and (max-width: 767px) {
    .woocommerce-ordering {
        float: none;
        margin: 0 auto;
        max-width: 200px;
        display: block;
    }
}

.woocommerce-ordering .select2-container {
    margin-top: -9px;
}

.woocommerce-ordering .select2-container .selection {
    border: none;
}

.woocommerce-ordering .select2-container .selection .select2-selection {
    font-size: 14px;
    color: #111111 !important;
}

.woocommerce-ordering .select2-container .selection .select2-selection .select2-selection__rendered {
    color: inherit !important;
}

ul.products .product .onsale,
.single-product .product>.onsale,
ul.products .product .last-badge,
ul.products .product .new-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 52px;
    width: 52px;
    color: #fff;
    font-size: 11px;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    font-weight: 600;
}

ul.products .product .onsale:after,
.single-product .product>.onsale:after,
ul.products .product .last-badge:after,
ul.products .product .new-badge:after {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    font-family: "dici-icons";
    content: '\e844';
    font-size: 65px;
    line-height: 65px;
    color: #ffd3c8;
    z-index: -1;
}

ul.products .product .onsale,
.single-product .product>.onsale {
    color: #000;
}

ul.products .product .last-badge {
    color: #000;
}

ul.products .product .last-badge:after {
    color: #fff;
}

ul.products .product .new-badge:after {
    color: #72ccbe;
}

ul.products .product {
    position: relative;
    transition: z-index 0.4s step-end, background-color 0.4s ease;
    list-style: none;
    z-index: auto;
    background-color: rgba(255, 255, 255, 0) !important;
}

ul.products .product .woocommerce-loop-product__title {
    /* font-size: 15px;
    font-weight: 500;
	letter-spacing: 0 !important;
	  */
    margin: 0.666rem 0;
    padding: 0 15px;
}

body.dici-product-content-center ul.products {
    text-align: center;
}

body.dici-product-content-center ul.products .woocommerce-loop-product__title,
body.dici-product-content-center ul.products .price {
    text-align: center;
}

ul.products .product .wp-post-image {
    background-color: #fff;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

ul.products .product:hover {
    z-index: 10;
    transition: z-index 0.4s step-start, background-color 0.4s ease;
    background-color: white !important;
}

ul.products .product:hover .wp-post-image:not(:last-child) {
    opacity: 0;
}

ul.products .product .dici-gallery-image {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0.95, 0.95);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    z-index: 0;
    line-height: 0;
    font-size: 0;
    background-color: #fff;
    backface-visibility: hidden !important;
}

ul.products .product:hover .dici-gallery-image {
    transform: scale(1, 1);
    opacity: 1;
}

ul.products .product .dici-prod-cat-list {
    display: block;
    margin-top: 1rem;
    font-size: 12px;
    color: #888686;
}

ul.products .product .dici-prod-cat-list span.dici-prod-cat:after {
    content: ',';
    display: inline-block;
}

ul.products .product .dici-prod-cat-list span.dici-prod-cat:last-child:after {
    display: none;
}

ul.products .product .woocommerce-loop-product__link {
    display: block;
    position: relative;
}

ul.products .product .star-rating {
    display: inline-block;
    margin-bottom: -1px;
}

ul.products .product a {
    text-decoration: none;
}

ul.products .product img {
    display: block;
    width: 100%;
}

ul.products .product .dici-thumb-wrapper {
    position: relative;
    z-index: 2;
}

ul.products .product .dici-thumb-wrapper:before {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    content: '';
    background-color: transparent;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
    transition: opacity 0s ease-in;
}

ul.products .product .dici-thumb-wrapper:hover:before {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);
    transition: box-shadow 400ms ease-in;
}

ul.products .product .dici-buttons-wrapper {
    position: static;
    left: 0;
    padding: 0.25rem 20px 20px;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    text-align: center;
    transition: opacity 0s ease-in;
}

ul.products .product:hover .dici-buttons-wrapper {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.woocommerce-page ul.products .product .add_to_cart_button:hover,
.woocommerce-page ul.products .product .product_type_variable:hover,
.woocommerce-page ul.products .product .product_type_simple:hover {
    background-color: #7e7e7e;
}

ul.products .product .button,
ul.products .product .add_to_cart_button,
ul.products .product .product_type_variable,
ul.products .product .product_type_external {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 5;
    padding: 10px 22px 8px;
    margin-top: 1px;
    border-radius: 3rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.7px;
    background-color: #ac0005;
    transition: background-color 400ms ease-in, box-shadow 400ms ease-in;
}

ul.products .product:hover .button,
ul.products .product:hover .add_to_cart_button,
ul.products .product:hover .product_type_variable,
ul.products .product:hover .product_type_external {
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
}

ul.products .product .tinvwl_add_to_wishlist_button {
    position: absolute;
    top: 1rem;
    left: auto;
    right: 1rem;
    bottom: auto;
    padding: 0;
    margin: 0;
    margin-top: 0 !important;
    background-color: transparent !important;
    opacity: 0;
    transition: opacity 400ms ease-in;
}

ul.products .product .tinvwl_add_to_wishlist_button:before {
    display: inline-block;
    content: '\e803';
    font-family: "dici-icons" !important;
    color: #000;
    font-size: 18px;
    transition: color 400ms ease-in;
}

ul.products .product .tinvwl_add_to_wishlist_button.tinvwl-product-in-list:before {
    content: '\e842';
}

ul.products .product .tinvwl_add_to_wishlist_button:hover:before {
    color: #ac0005;
}

ul.products .product .tinvwl_add_to_wishlist_button .tinvwl_add_to_wishlist-text {
    position: absolute !important;
    height: 1px;
    margin: -1px;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
    width: 1px;
    word-wrap: normal !important;
}

ul.products .product:hover .tinvwl_add_to_wishlist_button {
    opacity: 1 !important;
}

ul.products .product .added_to_cart {
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    vertical-align: middle;
    padding: 10px 20px 8px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3em;
    background-color: #ac0005;
    color: #fff !important;
}

.product .price {
    display: block;
    font-size: 15px;
    margin: 0.5rem 0;
}

.product .price ins {
    background-color: transparent;
    color: #d7422d;
    font-weight: 600;
}

.product .price del {
    color: #9e9e9e;
    font-weight: 400;
}

ul.products li {
    margin-bottom: -75px;
}

ul.products.owl-carousel .owl-stage-outer {
    padding: 0 10px;
    margin: 0 -10px;
}

ul.products.owl-carousel .owl-stage-outer .owl-item {
    padding: 20px 0 100px;
}

.premium ul.products .product:before {
    display: none !important;
}

.premium ul.products .product .dici-thumb-wrapper:before {
    display: none !important;
}

.premium ul.products .product .dici-prod-cat-list {
    margin-top: 3rem !important;
}


/**
 * Single product
 */


/**
 * Single Product
 */

.single-product div.product {
    content: "";
    display: table;
    table-layout: fixed;
    position: relative;
}

@media screen and (min-width: 768px) {
    .single-product div.product {
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: 6fr 6fr;
        grid-template-areas: "image summary" "tabs tabs" "related related" "upsell upsell";
    }
}

.single-product div.product .onsale {
    position: absolute;
    z-index: 1;
}

.single-product div.product .summary {
    grid-area: summary;
}

.single-product div.product .dici-tabs-wrapper {
    grid-area: tabs;
}

@media screen and (min-width: 1024px) {
    .single-product div.product .dici-tabs-wrapper {
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
    }
}

.single-product div.product .dici-tabs-wrapper:last-child {
    margin-bottom: 60px;
}

.single-product div.product section.products:last-of-type {
    margin-bottom: 50px;
}

.single-product div.product .upsells.products {
    margin-bottom: 80px;
    grid-area: related;
}

.single-product div.product .related.products {
    grid-area: upsell;
    margin-top: 20px;
}

.single-product div.product .woocommerce-product-gallery {
    position: relative;
    grid-area: image;
}

.stock:empty:before {
    display: none;
}

.stock.in-stock {
    color: #ac0005;
}

.stock.out-of-stock {
    color: #FA4659;
}

.single-product .page-header-block {
    height: 12vh;
}

.single-product .page-header-block .page-header-block-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 1200px;
}

@media screen and (min-width: 1400px) {
    .single-product .page-header-block .page-header-block-inner {
        width: 1200px;
    }
}

@media screen and (min-width: 1400px) {
    .single-product .page-header-block .page-header-block-inner {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.single-product .page-header-block .page-header-block-inner .navigation {
    margin-left: auto;
}

.single-product .page-header-block .page-header-block-inner .nav-links:after {
    display: none;
}

.single-product .page-header-block .page-header-block-inner .nav-links i {
    font-size: 20px;
}

.single-product .page-header-block .page-header-block-inner .woocommerce-breadcrumb {
    padding: 6px 0;
    margin: auto 0;
}

.single-product .product>.onsale {
    left: 6px;
}

@media screen and (min-width: 768px) {
    .single-product .product>.onsale {
        left: 10px;
    }
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 1;
}

.single-product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1em;
}

.single-product .woocommerce-product-gallery .flex-viewport figure {
    margin: 0;
}

.single-product .woocommerce-product-gallery .flex-viewport figure .zoomImg {
    background-color: #fff;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs {
    margin: 0;
    padding: 0;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li {
    position: relative;
    padding: 0 10px;
    list-style: none;
    cursor: pointer;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: .5;
    transition: opacity 400ms ease-in, border-color 400ms ease-in;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active,
.single-product .woocommerce-product-gallery .flex-control-thumbs li img:hover {
    opacity: 1;
    border-color: #ac0005;
}

@media screen and (min-width: 768px) {
    .single-product .woocommerce-product-gallery .flex-control-thumbs li img {
        border: 1px solid #e1e1e1;
    }
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li {
    display: inline-block;
    max-width: 16.6666%;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li img {
    padding: 0 2px;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #fff;
    font-size: 0;
    text-indent: -99999em;
    text-align: center;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img.emoji {
    display: none !important;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:after {
    display: inline-block;
    font-family: dici-icons;
    content: '\e835';
    font-size: 1rem;
    line-height: 2rem;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
    margin-top: 0;
}

.single-product .summary .star-rating {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 15px;
    margin-right: 10px;
}

.single-product .summary .woocommerce-review-link {
    display: inline-block;
    font-size: 12.36px;
    line-height: 1.5rem;
    vertical-align: top;
    text-decoration: none;
    color: #000000;
}

.single-product .summary form.cart {
    margin-bottom: 1em;
}

.single-product .summary .variations {
    margin-bottom: 45px;
}

.single-product .summary .variations .hide.woo-variation-raw-select+.select2-container {
    display: none;
}

.single-product .summary .variations .select2-container {
    min-width: 200px;
    margin-right: 18px;
}

.single-product .summary .variations .reset_variations {
    position: absolute;
    bottom: 0;
    left: 0.5em;
    font-size: 11.475px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateY(100%);
}

.single-product .summary .variations td {
    padding: 0.5em;
}

.single-product .summary .variations td label {
    font-weight: 500;
    font-size: 13.995px;
}

.single-product .summary .variations td.value {
    position: relative;
}

.single-product .summary .woocommerce-grouped-product-list-item__label a {
    text-decoration: none;
}

.single-product .summary .woocommerce-grouped-product-list-item__price {
    font-size: 15px;
}

.single-product .summary .woocommerce-grouped-product-list-item__price ins {
    background-color: transparent;
    color: #d7422d;
    font-weight: 600;
}

.single-product .summary .woocommerce-grouped-product-list-item__price ins .amount {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
}

.single-product .summary .woocommerce-grouped-product-list-item__price del {
    color: #9e9e9e;
    font-weight: 400;
}

.single-product .summary .woocommerce-grouped-product-list-item__price del .amount {
    color: inherit;
    font-weight: inherit;
}

.single-product .summary .woocommerce-variation-price {
    margin-bottom: 1em;
}

.single-product .summary .quantity {
    display: inline-block;
    position: relative;
    max-width: 94px;
    vertical-align: bottom;
    margin-right: 18px;
    margin-bottom: 10px;
}

.single-product .summary .quantity input[type=number]::-webkit-inner-spin-button,
.single-product .summary .quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.single-product .summary .quantity input[type=number] {
    -moz-appearance: textfield;
}

.single-product .summary .quantity input {
    display: block;
    width: 94px;
    height: 44px;
    line-height: 1.65;
    float: left;
    padding: 0 2em;
    margin: 0;
    text-align: center;
    font-size: 13.005px;
    color: #000;
}

.single-product .summary .quantity input:focus {
    outline: 0;
}

.single-product .summary .quantity .quantity-nav .quantity-button {
    transform: translateY(-50%);
}

.single-product .summary .quantity .quantity-nav .quantity-button.quantity-up {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 24px;
    width: 10px;
    z-index: 3;
    cursor: pointer;
}

.single-product .summary .quantity .quantity-nav .quantity-button.quantity-up:before {
    display: inline-block;
    content: '+';
}

.single-product .summary .quantity .quantity-nav .quantity-button.quantity-down {
    position: absolute;
    left: 1em;
    top: 50%;
    height: 24px;
    width: 10px;
    z-index: 3;
    cursor: pointer;
}

.single-product .summary .quantity .quantity-nav .quantity-button.quantity-down:before {
    display: inline-block;
    content: '-';
}

.single-product .summary .single_add_to_cart_button {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border: none;
    padding: 1.2em 3.5em 1.1em;
}

.single-product .summary .single_add_to_cart_button:hover {
    color: #fff;
}

.single-product .summary .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button {
    margin-top: 1.333rem;
}

.single-product .summary .tinvwl_add_to_wishlist-text:before {
    display: inline-block;
    content: '\e803';
    font-family: "dici-icons";
    color: #000;
    font-size: 18px;
    transition: color 400ms ease-in;
    margin-right: 9px;
    transform: translateY(1px);
}

.single-product .summary .tinvwl_add_to_wishlist-text.tinvwl-product-in-list:before {
    content: '\e842';
}

.single-product .summary .tinvwl_add_to_wishlist-text:hover:before {
    color: #ac0005;
}

.single-product .summary .stock {
    /* font-size: 11.475px; */
    text-transform: uppercase;
}

.single-product .summary .product_meta {
    /* font-size: 11.475px; */
    text-transform: uppercase;
}

.single-product .summary .product_meta a {
    text-decoration: none;
}

.single-product .summary .product_meta .sku_wrapper {
    display: block;
    color: #6c6c6c;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.single-product .summary .product_meta .posted_in {
    display: block;
    font-weight: 500;
}

.single-product .summary .product_meta .posted_in a {
    color: inherit;
}

.single-product .summary .product_meta .tagged_as {
    display: block;
    font-weight: 500;
}

.single-product .summary .product_meta .tagged_as a {
    color: inherit;
}

.single-product .dici-tabs-wrapper {
    padding-top: 2rem;
}

.single-product .dici-tabs-wrapper .tabs {
    list-style: none;
    border-bottom: 1px solid #e1e1e1;
}

.single-product .dici-tabs-wrapper .tabs li {
    display: inline-block;
    margin-right: 3rem;
    text-transform: uppercase;
    font-size: 15px;
}

.single-product .dici-tabs-wrapper .tabs li a {
    display: inline-block !important;
    position: relative;
    color: #a1a1a1;
    font-weight: 600;
}

.single-product .dici-tabs-wrapper .tabs li a:after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: transparent;
    transition: background-color 400ms ease-in;
}

.single-product .dici-tabs-wrapper .tabs li:hover a,
.single-product .dici-tabs-wrapper .tabs li.active a {
    color: #000;
}

.single-product .dici-tabs-wrapper .tabs li:hover a:after,
.single-product .dici-tabs-wrapper .tabs li.active a:after {
    background-color: #ac0005;
}

.single-product .dici-tabs-wrapper .woocommerce-Tabs-panel {
    padding-top: 20px;
}

.single-product .dici-tabs-wrapper .woocommerce-Tabs-panel table.woocommerce-product-attributes {
    border: none;
}

.single-product .dici-tabs-wrapper .woocommerce-Tabs-panel table.woocommerce-product-attributes th,
.single-product .dici-tabs-wrapper .woocommerce-Tabs-panel table.woocommerce-product-attributes td {
    border: none;
}

.single-product .dici-tabs-wrapper .woocommerce-Tabs-panel table.woocommerce-product-attributes th {
    background-color: #f1f1f1;
}

.single-product .woocommerce-Reviews .commentlist {
    margin: 0 0 2rem;
    padding: 0;
    width: 100%;
    background: 0 0;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .single-product .woocommerce-Reviews .commentlist {
        text-align: center;
    }
}

.single-product .woocommerce-Reviews .commentlist li {
    display: block;
    max-width: 100%;
    position: relative;
    text-align: left;
    padding: 3rem 0 1.5rem 5.6rem;
    border-bottom: 1px solid #e1e1e1;
}

.single-product .woocommerce-Reviews .commentlist li .avatar {
    position: absolute;
    top: 3rem;
    left: 0;
    border-radius: 50%;
}

.single-product .woocommerce-Reviews .commentlist li .meta {
    color: #858585;
    margin: 0.467em 0 0;
    font-size: 13.005px;
    text-transform: uppercase;
}

.single-product .woocommerce-Reviews .commentlist li .meta a,
.single-product .woocommerce-Reviews .commentlist li .meta .woocommerce-review__author {
    color: #000;
}

.single-product .woocommerce-Reviews .commentlist li .description p {
    margin-top: 0.533em;
}

.single-product .woocommerce-Reviews .commentlist li:first-of-type {
    margin-top: -2rem;
}

.single-product .woocommerce-Reviews .review-button-cont {
    text-align: center;
    margin-bottom: 40px;
}

.single-product .woocommerce-Reviews .review-button-cont .button {
    display: inline-block;
    /*border: 2px solid;
    border-color: $color__border-button;*/
    border: none;
    border-radius: 3rem;
    background: #ac0005;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding: 10px 22px 8px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color 400ms ease-in, background-color 400ms ease-in, border-color 400ms ease-in;
}

.single-product .woocommerce-Reviews .review-button-cont .button:hover {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.single-product .woocommerce-Reviews .review-button-cont .button:active,
.single-product .woocommerce-Reviews .review-button-cont .button:focus {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.single-product .woocommerce-Reviews .review-button-cont .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.single-product #review-form-shadow {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: z-index 0.6s step-end, opacity 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.single-product #review-form-shadow.open {
    opacity: 1;
    z-index: 999999;
    transition: z-index 0.6s step-start, opacity 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.single-product #review-form-popup-container {
    display: block;
    position: fixed;
    top: 100%;
    left: 1em;
    /* transform: translateX(-50%) translateX(-50%); */
    max-width: calc(100% - 2em);
    height: calc(100vh - 2em);
    background-color: #fff;
    z-index: -100;
    opacity: 0;
    box-shadow: -2px 2px 81px -27px rgba(0, 0, 0, 0.3);
    transition: z-index 0.6s step-end, opacity 0.6s cubic-bezier(0.7, 0.01, 0.3, 1), top 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

@media screen and (min-width: 768px) {
    .single-product #review-form-popup-container {
        left: 50%;
        width: 870px;
        height: auto;
        transform: translateY(-50%) translateX(-50%);
    }
}

@media screen and (max-width: 767px) {
    .single-product #review-form-popup-container {
        height: auto !important;
    }
}

.single-product #review-form-popup-container.opened {
    top: 1em;
    opacity: 1;
    z-index: 999999999;
    transition: z-index 0.6s step-start, opacity 0.6s cubic-bezier(0.7, 0.01, 0.3, 1), top 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

@media screen and (min-width: 768px) {
    .single-product #review-form-popup-container.opened {
        top: 50%;
    }
}


/*.single-product #review_form_wrapper label {
  text-align: center;
  display: block; }*/

.single-product #review_form_wrapper .comment-form-rating p.stars {
    text-align: center;
}

.single-product #review-form-popup-container .rf-cont {
    position: relative;
    padding: 40px;
    overflow: scroll;
    max-height: 100%;
}

.single-product #review-form-popup-container a#review-form-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.single-product #review-form-popup-container a#review-form-close:before,
.single-product #review-form-popup-container a#review-form-close:after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 4px;
    content: '';
    background-color: #000;
}

.single-product #review-form-popup-container a#review-form-close:before {
    transform: rotate(45deg);
}

.single-product #review-form-popup-container a#review-form-close:after {
    transform: rotate(-45deg);
}

.single-product #review_form .comment-respond {
    max-width: 100%;
}


/*.single-product #review_form .comment-respond label {
    font-size: 12px;
    text-transform: uppercase;
    display: none; } */

.single-product #review_form .comment-respond label[for="rating"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
}

.single-product #review_form .comment-respond label[for="comment"] {
    display: none;
}

.single-product #review_form #reply-title {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: inherit !important;
    text-transform: uppercase;
    font-size: inherit !important;
    font-weight: 600;
}

.single-product #review_form .comment-notes {
    text-align: center;
}

.single-product #review_form_wrapper #review_form #respond textarea {
    max-height: 128px;
    resize: none;
}

.single-product #review_form_wrapper #review_form #respond p {
    margin: 0;
}

.single-product #review_form_wrapper #review_form #respond p.comment-form-comment {
    margin-bottom: 30px;
}

.single-product #review_form .comment-respond .comment-form-author,
.single-product #review_form .comment-respond .comment-form-email {
    padding: 0 !important;
}

@media screen and (min-width: 768px) {
    .single-product #review_form .comment-respond .comment-form-author,
    .single-product #review_form .comment-respond .comment-form-email {
        max-width: 48.2%;
    }
}

@media screen and (min-width: 768px) {
    .single-product #review_form .comment-respond .comment-form-email {
        margin-left: 3% !important;
    }
}

.single-product #review_form .comment-respond .comment-form-author input,
.single-product #review_form .comment-respond .comment-form-email input {
    width: 100%;
}

.single-product #review_form_wrapper #review_form #respond p.form-submit {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
    max-width: 100%;
}

.single-product #review_form #respond p.form-submit input {
    display: inline-block;
    max-width: 196px;
    border: none;
}

.single-product section.products>h2 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: inherit !important;
    position: relative;
    margin-bottom: 4rem;
    margin-bottom: 80px;
}

.single-product section.products>h2:after {
    width: 108px;
    height: 22px;
    display: block;
    content: '';
    background: url("assets/img/title_o.png") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    padding: 4px;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected,
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-rounded .variable-items-wrapper .variable-item.button-variable-item {
    border-radius: 0;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    padding: 4px 4px 2px 5px;
    box-shadow: none;
    background-color: #f5f5f5;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item.button-variable-item:not(.radio-variable-item).selected,
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item.button-variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: none;
    background-color: #ac0005;
    color: #fff;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart::before {
    display: none;
}


/**
 * Shopping Cart
 */

.woocommerce-cart .entry-header {
    text-align: center;
}

.woocommerce-cart .entry-content .woocommerce {
    max-width: 1140px;
    margin: 0 auto;
}

.woocommerce-cart .cart-collaterals {
    display: grid;
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .woocommerce-cart .cart-collaterals {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
    .woocommerce-cart .cart-collaterals .cart-totals-wrap:first-child:last-child {
        grid-column: 1/-1;
        width: calc(50% - 15px);
        margin-left: auto;
    }
}

.woocommerce-cart .cart-collaterals .cross-sells {
    margin-top: 20px;
}

.woocommerce-cart .cart-collaterals h2 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 16.5px;
    margin-top: 8px;
    margin-bottom: 1rem;
    padding-left: 15px;
}

.woocommerce-cart .cart-collaterals .cart_totals {
    border: 1px solid #e1e1e1;
    padding: 1.267em;
}

.woocommerce-cart .cart-collaterals .cart_totals #shipping_method {
    list-style: none;
    margin: 0;
    padding: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals .shop_table_responsive {
    border: none !important;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive {
    width: 100%;
    margin-bottom: 0;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr {
    border-color: transparent !important;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr td {
    text-align: right;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr td .amount {
    font-weight: bold;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr td a {
    color: #109d92;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr.cart-subtotal th {
    border-top-width: 0px;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr.cart-subtotal th,
.woocommerce-cart .cart-collaterals .shop_table_responsive tr.shipping th {
    color: #939393;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr.order-total th,
.woocommerce-cart .cart-collaterals .shop_table_responsive tr.order-total td {
    padding-top: 20px;
    padding-bottom: 15px;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive tr.order-total td {
    font-size: 1.200em;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-totals li {
    text-align: right;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-methods li {
    text-align: right;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-calculator .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0px 1rem 0 !important;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-calculator .select2-container .selection .select2-selection .select2-selection__arrow:after {
    top: -4px !important;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-calculator>p {
    margin: 0;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-calculator .shipping-calculator-button {
    font-size: 12.36px;
}

.woocommerce-cart .cart-collaterals .shop_table_responsive .woocommerce-shipping-calculator .button {
    float: right;
}

@media screen and (max-width: 767px) {
    .woocommerce-cart .cart-collaterals .cart-totals-wrap {
        order: 1;
    }
    .woocommerce-cart .cart-collaterals .cross-sells {
        order: 2;
    }
}

.woocommerce-cart .wc-proceed-to-checkout {
    text-align: right;
}

.woocommerce-cart .wc-proceed-to-checkout a {
    padding: 1em 1.733em;
    display: inline-block;
    /*border: 2px solid;
    border-color: $color__border-button;*/
    border: none;
    border-radius: 3rem;
    background: #ac0005;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding: 10px 22px 8px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color 400ms ease-in, background-color 400ms ease-in, border-color 400ms ease-in;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.woocommerce-cart .wc-proceed-to-checkout a:hover {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.woocommerce-cart .wc-proceed-to-checkout a:active,
.woocommerce-cart .wc-proceed-to-checkout a:focus {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.woocommerce-cart .wc-proceed-to-checkout a:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.woocommerce-cart .shipping-calculator-form {
    text-align: left;
}

.woocommerce-cart .shipping-calculator-form p.form-row {
    margin: 0.5em;
}

.woocommerce-cart .shipping-calculator-form p.form-row input {
    width: 100%;
}


/**
 * Checkout
 */


/**
 * Checkout
 */

.woocommerce-checkout .entry-content .woocommerce {
    max-width: 1200px;
    margin: 0 auto;
}

.form-row {
    margin-top: 0;
    margin-bottom: 1em;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row input[type="email"],
.form-row input[type="password"],
.form-row input[type="tel"] {
    width: 100%;
}

.form-row-first,
.form-row-last {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .form-row-first,
    .form-row-last {
        width: 49.73%;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .form-row-first {
        padding-right: 15px;
    }
    .form-row-last {
        padding-left: 15px;
        right: 0;
    }
}

form.woocommerce-checkout {
    content: "";
    display: table;
    table-layout: fixed;
    display: grid;
    grid-column-gap: 30px;
}

@media screen and (min-width: 1024px) {
    form.woocommerce-checkout {
        grid-template-columns: 7fr 5fr;
        grid-template-rows: auto;
        grid-template-areas: "notice notice" "form cart" "form cart";
    }
    form.woocommerce-checkout .woocommerce-NoticeGroup {
        grid-area: notice;
    }
    form.woocommerce-checkout .col2-set {
        grid-area: form;
    }
    form.woocommerce-checkout h3 {
        grid-area: cart;
        font-family: inherit;
        font-size: 22.005px;
    }
    form.woocommerce-checkout .woocommerce-checkout-review-order {
        grid-area: cart;
        margin-top: 4.77em;
    }
    form.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-review-order-inner {
        position: sticky;
        top: 1rem;
        right: 0;
        border: 1px solid #e1e1e1;
        padding: 1rem;
    }
}

form.woocommerce-checkout #ship-to-different-address {
    font-family: inherit;
    font-size: 12.36px;
    text-transform: uppercase;
}

form.woocommerce-checkout .create-account span {
    font-size: 12.36px;
    text-transform: uppercase;
}

.woocommerce-checkout-payment ul {
    list-style: none;
    padding-left: 0;
}

.woocommerce-checkout-payment ul .input-radio {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-2px);
}

.woocommerce-checkout-payment ul .payment_box {
    margin-top: 10px;
    padding: 1em;
    background-color: #f8f9fa;
}

.woocommerce-checkout-payment ul .payment_box p:first-of-type {
    margin-top: 0;
}

.woocommerce-checkout-payment ul .payment_box p:last-of-type {
    margin-bottom: 0;
}

.woocommerce-checkout-payment ul .payment_method_paypal img {
    display: inline-block;
    max-width: 200px;
    height: auto;
    vertical-align: middle;
    margin: 0 1em;
}

.woocommerce-checkout-payment .place-order {
    text-align: center;
}

.woocommerce-checkout-payment .button {
    width: 100%;
}

.woocommerce-checkout-payment .wc_payment_methods {
    margin: 1rem;
}

.woocommerce-checkout-payment .wc_payment_methods li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.woocommerce-checkout-payment .wc_payment_methods li label {
    display: inline-block;
    vertical-align: middle;
}

.woocommerce-checkout-payment .wc_payment_methods li img {
    display: inline-block;
    vertical-align: middle;
}

.woocommerce-order .woocommerce-thankyou-order-received {
    font-size: 18px;
}

.woocommerce-checkout-review-order .shop_table .woocommerce-shipping-methods {
    text-align: right;
}


/**
 * General WooCommerce components
 */


/**
 * Star rating
 */

.star-rating {
    position: relative;
    width: 5.24em;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    font-size: 1em;
    text-align: left !important;
    font-family: "dici-icons";
    font-weight: 600;
}

.star-rating:before {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    content: "\e841\e841\e841\e841\e841";
    opacity: .33;
}

.star-rating span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    overflow: hidden;
    float: left;
    padding-top: 1.5em;
}

.star-rating span:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\e841\e841\e841\e841\e841";
    color: inherit;
}

p.stars a {
    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400;
}

p.stars a:before {
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    font-family: "dici-icons";
    content: "\e841";
    color: #ac0005;
    text-indent: 0;
    opacity: .3;
}

p.stars a:hover~a:before {
    content: "\e841";
    color: #ac0005;
    opacity: .3;
}

p.stars:hover a:before {
    content: "\e841";
    color: #ac0005;
    opacity: 1;
}

p.stars.selected a.active:before {
    content: "\e841";
    color: #ac0005;
    opacity: 1;
}

p.stars.selected a.active~a:before {
    content: "\e841";
    color: #ac0005;
    opacity: .3;
}

p.stars.selected a:not(.active):before {
    content: "\e841";
    color: #ac0005;
    opacity: 1;
}


/**
 * Tabs
 */

.woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.woocommerce-tabs ul.tabs li {
    display: block;
    margin: 0;
    position: relative;
}

.woocommerce-tabs ul.tabs li a {
    display: block;
    padding: 1em 0;
}

.woocommerce-tabs .panel h2:first-of-type {
    margin-bottom: 1em;
}


/**
 * Password strength meter
 */

.woocommerce-password-strength {
    text-align: right;
}

.woocommerce-password-strength.strong {
    color: #ac0005;
}

.woocommerce-password-strength.short {
    color: #FA4659;
}

.woocommerce-password-strength.bad {
    color: #FA4659;
}

.woocommerce-password-strength.good {
    color: #FDA403;
}


/**
 * Forms
 */

.form-row.woocommerce-validated input.input-text {
    border-color: #ac0005;
}

.form-row.woocommerce-invalid input.input-text {
    border-color: #FA4659;
}

.required {
    color: #FA4659;
}


/**
 * Notices
 */

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews {
    content: "";
    display: table;
    table-layout: fixed;
    position: relative;
    line-height: 2em;
    width: 100%;
    padding: 1em 1em 1em 3em;
    margin-bottom: 1em;
    border-top: 3px solid;
    border-color: #ac0005;
    background-color: #f8f9fa;
    clear: both;
    list-style: none;
}

.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button,
.woocommerce-noreviews .button {
    /*border: 2px solid;
    border-color: $color__border-button;*/
    border: none;
    border-radius: 3rem;
    background: #ac0005;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding: 10px 22px 8px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color 400ms ease-in, background-color 400ms ease-in, border-color 400ms ease-in;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
}

.woocommerce-message .button:hover,
.woocommerce-info .button:hover,
.woocommerce-error .button:hover,
.woocommerce-noreviews .button:hover {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.woocommerce-message .button:active,
.woocommerce-message .button:focus,
.woocommerce-info .button:active,
.woocommerce-info .button:focus,
.woocommerce-error .button:active,
.woocommerce-error .button:focus,
.woocommerce-noreviews .button:active,
.woocommerce-noreviews .button:focus {
    border-color: #7e7e7e;
    background-color: #7e7e7e;
}

.woocommerce-message .button:disabled,
.woocommerce-info .button:disabled,
.woocommerce-error .button:disabled,
.woocommerce-noreviews .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before,
.woocommerce-noreviews:before {
    display: inline-block;
    position: absolute;
    left: 1em;
    margin-right: 1em;
    font-family: dici-icons;
    content: '\e836';
    color: #ac0005;
}

.woocommerce-info,
.woocommerce-noreviews {
    border-color: #FDA403;
}

.woocommerce-info:before,
.woocommerce-noreviews:before {
    color: #FDA403;
}

.woocommerce-error {
    border-color: #FA4659;
}

.woocommerce-error:before {
    color: #FA4659;
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    background-color: #FDA403;
    z-index: 9999;
}


/**
 * Account
 */

.u-columns {
    display: grid;
    position: relative;
    grid-gap: 30px;
}

@media screen and (min-width: 1024px) {
    .u-columns {
        grid-template-columns: 6fr 6fr;
    }
}

.wc-item-meta p {
    margin: 0;
}


/**
 * Navigation
 */

.woocommerce-pagination {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.woocommerce-pagination ul.page-numbers {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 1em;
}

.woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    text-decoration: none;
}

.woocommerce-pagination ul.page-numbers li a.page-numbers,
.woocommerce-pagination ul.page-numbers li span.page-numbers {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    min-width: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.woocommerce-pagination ul.page-numbers li a.page-numbers:before,
.woocommerce-pagination ul.page-numbers li a.page-numbers:after,
.woocommerce-pagination ul.page-numbers li span.page-numbers:before,
.woocommerce-pagination ul.page-numbers li span.page-numbers:after {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: 2px;
    content: '';
}

.woocommerce-pagination ul.page-numbers li a.page-numbers:before,
.woocommerce-pagination ul.page-numbers li span.page-numbers:before {
    left: 0;
    width: 0;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: currentColor;
}

.woocommerce-pagination ul.page-numbers li a.page-numbers:after,
.woocommerce-pagination ul.page-numbers li span.page-numbers:after {
    right: 0;
    width: 100%;
    transition: width 0.3s 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: #929292;
}

.woocommerce-pagination ul.page-numbers li a.page-numbers:hover,
.woocommerce-pagination ul.page-numbers li a.page-numbers.current,
.woocommerce-pagination ul.page-numbers li span.page-numbers:hover,
.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
    color: inherit;
    font-weight: bold;
}

.woocommerce-pagination ul.page-numbers li a.page-numbers:hover:before,
.woocommerce-pagination ul.page-numbers li a.page-numbers.current:before,
.woocommerce-pagination ul.page-numbers li span.page-numbers:hover:before,
.woocommerce-pagination ul.page-numbers li span.page-numbers.current:before {
    width: 100%;
    transition: width 0.3s 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.woocommerce-pagination ul.page-numbers li a.page-numbers:hover:after,
.woocommerce-pagination ul.page-numbers li a.page-numbers.current:after,
.woocommerce-pagination ul.page-numbers li span.page-numbers:hover:after,
.woocommerce-pagination ul.page-numbers li span.page-numbers.current:after {
    width: 0;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tinv-wishlist tfoot .tinvwl-to-right>* {
    display: inline-block;
    padding: 0.5em 1em 0.4em;
}


/**
 * WooCommerce widgets
 */

.woocs_diplay_none {
    display: none;
}


/**
 * Header cart
 */

.site-header-cart {
    position: relative;
    margin: 0;
    padding: 0;
}

.site-header-cart .dici-header-cart-view {
    width: 2rem;
}

.site-header-cart .cart-contents {
    text-decoration: none;
}

.site-header-cart .cart-contents:before {
    font-family: "dici-icons";
    content: '\e83d';
    font-size: 22.5px;
    font-weight: 600;
    display: inline-block;
    color: #000;
}

.site-header-cart .product_list_widget li {
    position: relative;
}

.site-header-cart .product_list_widget li a {
    text-decoration: none;
    line-height: 1.3em;
    font-weight: 500;
}

.site-header-cart .product_list_widget li a span {
    display: inline;
}

.site-header-cart .product_list_widget li .quantity {
    display: inline;
    line-height: 1.2em;
}

.site-header-cart .product_list_widget li .attachment-woocommerce_thumbnail {
    max-width: 70px;
    display: block;
    float: left;
    vertical-align: top;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
}

.site-header-cart .product_list_widget li .remove {
    position: absolute;
    top: 1px;
    left: 60px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
    color: #ac0005;
    text-align: center;
    line-height: 21px;
    font-size: 19px;
    transition: background-color 400ms ease-in, color 400ms ease-in;
}

.site-header-cart .product_list_widget li .remove:hover {
    color: #fff;
    background-color: #ac0005;
}

.site-header-cart .product_list_widget li .variation {
    display: block;
    margin: 0 1em 0 0;
    font-size: 12.36px;
}

.site-header-cart .product_list_widget li .variation dt {
    display: inline;
    margin-right: 4px;
}

.site-header-cart .product_list_widget li .variation dd {
    display: inline;
    opacity: 0.6;
    font-style: italic;
    margin: 0;
}

.site-header-cart .product_list_widget li .variation dd p {
    margin: 0;
    display: inline;
}

.site-header-cart .widget_shopping_cart {
    margin-bottom: 0;
}

.site-header-cart .widget_shopping_cart_content .cart_list {
    max-height: calc( 100vh - 26rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.site-header-cart .widget_shopping_cart_content .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-header-cart .widget_shopping_cart_content .total strong {
    font-weight: normal;
    color: inherit;
}

.site-header-cart .widget_shopping_cart_content .total .amount {
    color: #000;
    font-weight: 600;
}

.site-header-cart .widget_shopping_cart_content .buttons {
    margin-bottom: 0;
}

.site-header-cart .widget_shopping_cart_content .buttons a {
    display: block;
    width: 100%;
    font-size: 12.36px;
    text-transform: uppercase;
    padding: 0.533rem 1rem 0.400rem;
    border-radius: 3rem;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 0.625rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: background-color 400ms ease-in;
}

.site-header-cart .widget_shopping_cart_content .buttons a.wc-forward {
    background-color: #000;
}

.site-header-cart .widget_shopping_cart_content .buttons a.checkout {
    background-color: #ac0005;
    margin-bottom: 0;
}

.site-header-cart .widget_shopping_cart_content .buttons a:hover,
.site-header-cart .widget_shopping_cart_content .buttons a:focus {
    background-color: #ac0005;
}

.site-header-cart .cart-toggler {
    position: relative;
}

.site-header-cart .cart-toggler .cart-contents .count {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 0;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #ac0005;
}

.site-header-cart .cart-toggler .cart-contents .amount {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.site-header-cart .site-header-cart-contents {
    padding: 1.5rem;
    min-width: 280px;
    max-width: 90%;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -99;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    box-shadow: -2px 2px 25px -8px rgba(0, 0, 0, 0.25);
    transform: translateY(10%);
    transition: visibility 0.5s step-end, z-index 0.5s step-end, opacity 0.5s ease, transform 0.5s ease;
}

.site-header-cart .site-header-cart-contents:empty {
    display: none;
}

.site-header-cart .site-header-cart-contents .widgettitle {
    font-family: inherit !important;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px !important;
    margin-top: 0 !important;
    letter-spacing: 1px;
}

.woocommerce-cart .site-header-cart-contents {
    display: none;
}

.site-header-cart:hover .site-header-cart-contents {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition: visibility 0.3s step-start, z-index 0.5s step-start, opacity 0.5s ease, transform 0.5s ease;
}

.elementor-widget.white .site-header-cart .cart-contents:before {
    color: #fff;
}

.post-header-widget.widget_wishlist_products_counter a.wishlist_products_counter.top_wishlist-heart:before,
.pre-header-widget.widget_wishlist_products_counter a.wishlist_products_counter.top_wishlist-heart:before,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist a.wishlist_products_counter.top_wishlist-heart:before {
    display: none;
}

.post-header-widget.widget_wishlist_products_counter .wishlist_products_counter_text,
.pre-header-widget.widget_wishlist_products_counter .wishlist_products_counter_text,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist .wishlist_products_counter_text {
    font-size: 0;
}

.post-header-widget.widget_wishlist_products_counter .wishlist_products_counter_text:before,
.pre-header-widget.widget_wishlist_products_counter .wishlist_products_counter_text:before,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist .wishlist_products_counter_text:before {
    font-family: "dici-icons";
    content: '\e83c';
    font-size: 22.5px;
    font-weight: 600;
    display: inline-block;
    color: #000;
}

.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist .wishlist_products_counter_text:before {
    color: #fff;
    font-weight: normal;
}

.post-header-widget.widget_wishlist_products_counter.white .wishlist_products_counter_text:before,
.pre-header-widget.widget_wishlist_products_counter.white .wishlist_products_counter_text:before,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist.white .wishlist_products_counter_text:before {
    color: #fff;
}

.post-header-widget.widget_wishlist_products_counter .wishlist_products_counter,
.pre-header-widget.widget_wishlist_products_counter .wishlist_products_counter,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist .wishlist_products_counter {
    width: 2rem;
    position: relative;
}

.post-header-widget.widget_wishlist_products_counter .wishlist_products_counter .wishlist_products_counter_number,
.pre-header-widget.widget_wishlist_products_counter .wishlist_products_counter .wishlist_products_counter_number,
.dici-elementor-header .elementor-widget-wp-widget-widget_top_wishlist .wishlist_products_counter .wishlist_products_counter_number {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -14px;
    right: -9px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #ac0005;
}


/**
 * WooCommerce Price Filter
 */

.widget_price_filter .price_slider {
    margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
    float: left;
    padding: 0.667rem 1.667rem 0.6rem;
    background-color: #ac0005;
}

.widget_price_filter .price_slider_amount .button:hover {
    background-color: #7e7e7e !important;
}

.widget_price_filter .price_slider_amount .price_label {
    font-size: 13.005px;
    color: #888686;
}

.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    cursor: ew-resize;
    outline: none;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    margin-top: -8px;
    opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover,
.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: #ac0005;
    border-radius: 4px;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
    height: 4px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 100%;
}

.widget_product_categories .dropdown_product_cat {
    width: 100%;
}

.widget_product_categories .product-categories {
    padding-left: 0;
}

.widget_product_categories .product-categories li {
    position: relative;
    list-style: none;
    font-weight: 500;
}

.widget_product_categories .product-categories li>.sub-menu,
.widget_product_categories .product-categories li>.children {
    max-height: 0;
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
    padding-left: 1rem;
    transition: max-height 400ms ease-in;
}

.widget_product_categories .product-categories li>.sub-menu li,
.widget_product_categories .product-categories li>.children li {
    font-weight: 400;
    font-size: 14px;
}

.widget_product_categories .product-categories li>.sub-menu li a,
.widget_product_categories .product-categories li>.children li a {
    font-size: inherit;
    font-weight: inherit;
}

.widget_product_categories .product-categories li a:hover {
    color: #109d92;
}

.widget_product_categories .product-categories li .count {
    font-size: 12.36px;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .widget_product_search,
    .elementor-widget-wp-widget-woocommerce_product_search {
        width: calc(100% - 60px);
    }
}

.widget_product_search .search-field,
.elementor-widget-wp-widget-woocommerce_product_search .search-field {
    width: 79.5%;
    transform: translateY(-3px);
}

@media screen and (min-width: 1400px) {
    .widget_product_search .search-field,
    .elementor-widget-wp-widget-woocommerce_product_search .search-field {
        max-width: 100%;
        width: 210px;
    }
}

.widget_product_search button,
.elementor-widget-wp-widget-woocommerce_product_search button {
    font-size: 0;
    border: none;
    color: inherit;
    max-width: 18%;
    width: 3.000rem;
    height: 2.800rem;
    text-align: right;
    background-color: transparent;
    padding: 0 !important;
}

.widget_product_search button:after,
.elementor-widget-wp-widget-woocommerce_product_search button:after {
    font-size: 22.5px;
    font-weight: 600;
    font-family: "dici-icons";
    content: '\e83b';
    display: inline-block;
}

.widget_product_search button:hover,
.elementor-widget-wp-widget-woocommerce_product_search button:hover {
    background-color: transparent;
    color: inherit;
}

.widget-area.sidebar-shop-area .widget .widget-title {
    font-family: inherit !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    font-size: 18px !important;
    margin: 0;
}

.widget-area .widget.woocommerce .woocommerce-widget-layered-nav-list {
    margin-bottom: 0 !important;
}

.widget-area .widget.woocommerce ul {
    margin-bottom: 0 !important;
}

.widget-area .widget.widget_product_search .search-field {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.widget-area .widget.widget_product_search button {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.45em 0.6em 0.45em 0;
    font-size: 0;
    text-indent: -99999em;
    margin-left: -8px;
    color: #888686;
    text-align: center;
    height: 42px;
    transform: translateY(-1px);
}

.widget-area .widget.widget_product_search button:after {
    font-size: 20px;
}

.widget-area .product_list_widget li a .product-title,
.elementor-widget-container .product_list_widget li a .product-title {
    font-weight: 500;
    line-height: 1.3;
}

.dici-post-header-widget-area .widget_product_search input,
.dici-post-header-widget-area .elementor-widget-wp-widget-woocommerce_product_search input,
.dici-pre-header-widget-area .widget_product_search input,
.dici-pre-header-widget-area .elementor-widget-wp-widget-woocommerce_product_search input {
    margin: 0;
}

.dici-post-header-widget-area .widget_product_search button,
.dici-post-header-widget-area .elementor-widget-wp-widget-woocommerce_product_search button,
.dici-pre-header-widget-area .widget_product_search button,
.dici-pre-header-widget-area .elementor-widget-wp-widget-woocommerce_product_search button {
    color: #000;
}

.widget_layered_nav_filters ul {
    list-style: none;
    padding-left: 2rem;
}

.widget_layered_nav_filters .chosen {
    font-size: 12.36px;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
}

.widget_layered_nav_filters .chosen:before {
    font-family: dici-icons;
    content: '\f06e';
    display: inline-block;
    text-align: center;
    position: absolute;
    left: -2rem;
}

.widget_layered_nav_filters li.chosen a {
    display: inline-block !important;
    position: relative !important;
    z-index: 1;
    padding: 0 2em;
    margin: -2em;
}

.widget.widget_layered_nav_filters ul {
    padding-left: 2rem;
}

.woocommerce-widget-layered-nav ul {
    padding-left: 0;
}

.woocommerce-widget-layered-nav ul li {
    list-style: none;
    position: relative;
    padding-left: 1.5rem;
    margin: 0 !important;
    font-weight: 500;
}

.woocommerce-widget-layered-nav ul li:before {
    position: absolute;
    border: 2px solid #888686;
    width: 8px;
    height: 8px;
    top: calc(1em - 8px);
    left: 0;
    content: none;
    transition: background-color 400ms ease-in, border-color 400ms ease-in;
}

.woocommerce-widget-layered-nav ul li li {
    font-weight: normal;
}

.woocommerce-widget-layered-nav ul li li a {
    font-weight: normal;
}

.woocommerce-widget-layered-nav ul li li:before {
    width: 4px;
    height: 4px;
    background-color: #ac0005;
    top: calc(1em - 6px);
    border: none;
}

.woocommerce-widget-layered-nav ul li li li:before {
    background-color: transparent;
}

.woocommerce-widget-layered-nav ul li .count {
    font-size: 12px;
    opacity: 0.6;
    display: block;
    float: right;
    color: #888686;
}

.woocommerce-widget-layered-nav ul li:after {
    content: '';
    display: block;
    clear: both;
}

.widget_rating_filter ul {
    padding-left: 0;
}

.widget_rating_filter .wc-layered-nav-rating {
    list-style: none;
}

.widget_rating_filter .wc-layered-nav-rating a {
    display: inline-block !important;
    line-height: 1.5rem;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #888686;
}

.widget_rating_filter .wc-layered-nav-rating a span {
    display: block;
    float: left;
}

.widget_rating_filter .wc-layered-nav-rating a .star-rating {
    display: inline-block;
}

.widget_rating_filter .wc-layered-nav-rating a:after {
    display: none;
    clear: both;
}

.product_list_widget {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0 !important;
}

.product_list_widget li {
    padding: 0.5rem 0;
}

.product_list_widget li .attachment-woocommerce_thumbnail {
    max-width: 70px;
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-right: 15px;
}

.product_list_widget li .woocs_price_code {
    display: block;
    margin: 0.5rem 0;
}

.product_list_widget li .woocs_price_code ins {
    background-color: transparent;
    color: #d7422d;
    font-weight: 600;
}

.product_list_widget li .woocs_price_code del {
    color: #888686;
    font-weight: 400;
}

.product_list_widget li a {
    text-decoration: none;
}

.product_list_widget li a .product-title {
    display: block;
}

.product_list_widget li a:after {
    display: none;
}

.product_list_widget li:after {
    content: '';
    display: block;
    clear: both;
}

.product_list_widget li .reviewer {
    font-size: 13.23px;
}

.product_list_widget li ins {
    background-color: transparent;
}

.product_list_widget li del {
    font-size: 0.882em;
}

.product_list_widget li .star-rating {
    margin: 0.25rem 0 0.4rem;
}

.widget_product_tag_cloud .tagcloud a {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0.18em 0.706rem 0.145em;
    border-radius: 2em;
    background-color: #000;
    color: #fff;
    font-size: 0.733rem !important;
    text-transform: uppercase;
    transition: background-color 400ms ease-in, color 400ms ease-in, border-color 400ms ease-in;
}

.widget_product_tag_cloud .tagcloud a:hover {
    background-color: #ac0005;
    border-color: #ac0005;
    color: #fff;
}


/**
 * WooCommerce pages
 */

@media screen and (min-width: 768px) {
    .logged-in.woocommerce-account .entry-content>.woocommerce {
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: 2fr 10fr;
        grid-template-areas: "info info" "nav content";
    }
    .logged-in.woocommerce-account .entry-content>.woocommerce nav {
        grid-area: nav;
    }
    .logged-in.woocommerce-account .entry-content>.woocommerce .woocommerce-MyAccount-content {
        grid-area: content;
        padding-top: 5px;
    }
    .logged-in.woocommerce-account .entry-content>.woocommerce .woocommerce-message,
    .logged-in.woocommerce-account .entry-content>.woocommerce .woocommerce-error {
        grid-area: info;
    }
    .logged-in.woocommerce-account .entry-content>.woocommerce *:first-child:last-child {
        grid-column: 1/-1;
    }
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-content {
    position: relative;
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-content:before {
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #e1e1e1;
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-content fieldset {
    border: none;
    background-color: #f8f9fa;
    padding: 1em;
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-content fieldset legend {
    font-size: 12.36px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 0 1em;
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul {
    list-style: none;
}

@media screen and (max-width: 767px) {
    .woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul {
        padding-left: 0;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
    }
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li {
    text-align: right;
    text-transform: uppercase;
    margin: 5px 0;
}

@media screen and (max-width: 767px) {
    .woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li {
        text-align: left;
    }
}

.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li.is-active {
    font-weight: 600;
}


/*# sourceMappingURL=woocommerce.css.map */

li.wc_payment_method.payment_method_kco img {
    display: none;
}

.single-product .product .summary .price span {
    font-weight: bold;
}
