    /*
    Flaticon icon font: Flaticon
    Creation date: 03/02/2017 14:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-plus-button:before { content: "\f100"; }
.flaticon-checked:before { content: "\f101"; }
.flaticon-interface:before { content: "\f102"; }
.flaticon-line:before { content: "\f103"; }
.flaticon-line-1:before { content: "\f104"; }
.flaticon-medical:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }
    
    $font-Flaticon-add-plus-button: "\f100";
    $font-Flaticon-checked: "\f101";
    $font-Flaticon-interface: "\f102";
    $font-Flaticon-line: "\f103";
    $font-Flaticon-line-1: "\f104";
    $font-Flaticon-medical: "\f105";
    $font-Flaticon-search: "\f106";