	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/02/2017 14:09
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-plus-button:before { content: "\f100"; }
.flaticon-checked:before { content: "\f101"; }
.flaticon-interface:before { content: "\f102"; }
.flaticon-line:before { content: "\f103"; }
.flaticon-line-1:before { content: "\f104"; }
.flaticon-medical:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }