@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ukrz7d');
  src:  url('fonts/icomoon.eot?ukrz7d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ukrz7d') format('truetype'),
    url('fonts/icomoon.woff?ukrz7d') format('woff'),
    url('fonts/icomoon.svg?ukrz7d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-paper-bag:before {
  content: "\e902";
}
.icon-shopping-paper-bag-full:before {
  content: "\e903";
}
.icon-clothes-hanger:before {
  content: "\e900";
}
.icon-clothes-hanger-full:before {
  content: "\e901";
}

